/* Base styles for the element that has a tooltip */
[data-cr_revinfo_tooltip],
.cr_revinfo_tooltip {
  position: relative;
  cursor: pointer;
  background-color: yellow;
}

/* Base styles for the entire tooltip */
[data-cr_revinfo_tooltip]:before,
[data-cr_revinfo_tooltip]:after,
.cr_revinfo_tooltip:before,
.cr_revinfo_tooltip:after {
  position: absolute;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition:
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out,
      transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-cr_revinfo_tooltip]:hover:before,
[data-cr_revinfo_tooltip]:hover:after,
[data-cr_revinfo_tooltip]:focus:before,
[data-cr_revinfo_tooltip]:focus:after,
.cr_revinfo_tooltip:hover:before,
.cr_revinfo_tooltip:hover:after,
.cr_revinfo_tooltip:focus:before,
.cr_revinfo_tooltip:focus:after {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's content area */
.cr_revinfo_tooltip:after,
[data-cr_revinfo_tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 500px;
  margin-left: -100px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-cr_revinfo_tooltip);
  font-family: monospace;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  text-align: left;
  white-space: pre;
}
